# API Configuration
NEXT_PUBLIC_API_URL=https://focus-rh-api.amicale-solidarite.ovh/api/v1

# NextAuth Configuration
# IMPORTANT: En production, NEXTAUTH_URL doit être l'URL complète de votre application
# Local: http://localhost:3000
# Production: https://votre-domaine.com
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-key-here-generate-with-openssl-rand-base64-32

# Environment
NODE_ENV=development
